<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.DefaultFreightMapper">
  <resultMap id="BaseResultMap" type="xmu.oomall.domain.DefaultFreightPo">
    <!--@mbg.generated-->
    <!--@Table default_freight-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="first_heavy_price" jdbcType="DECIMAL" property="firstHeavyPrice" />
    <result column="continue_heavy_price" jdbcType="DECIMAL" property="continueHeavyPrice" />
    <result column="over10_price" jdbcType="DECIMAL" property="over10Price" />
    <result column="over50_price" jdbcType="DECIMAL" property="over50Price" />
    <result column="over100_price" jdbcType="DECIMAL" property="over100Price" />
    <result column="over300_price" jdbcType="DECIMAL" property="over300Price" />
    <result column="require_days" jdbcType="VARCHAR" property="requireDays" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="TINYINT" property="beDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, destination, first_heavy_price, continue_heavy_price, over10_price, over50_price, 
    over100_price, over300_price, require_days, gmt_create, gmt_modified, is_deleted
  </sql>
    <update id="deleteDefaultFreight" parameterType="Integer">
        update oomall_default_freight
        set is_deleted=1
        where id = #{id}
    </update>

<!--auto generated by MybatisCodeHelper on 2019-12-15-->
  <select id="findAllById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from oomall_default_freight
    where id=#{id,jdbcType=BIGINT}
  </select>
  <!--    &lt;update id="updateDefaultFreight" parameterType="Integer"&gt;-->
<!--        update default_freight-->
<!--        set is_deleted=1-->
<!--        where id = #{id}-->
<!--    &lt;/update&gt;-->
</mapper>