<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xmu.oomall.mapper.DefaultFreightMapper" >
  <resultMap id="BaseResultMap" type="xmu.oomall.dao.DefaultFreightPo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="first_heavy_price" property="firstHeavyPrice" jdbcType="DECIMAL" />
    <result column="continue_heavy_price" property="continueHeavyPrice" jdbcType="DECIMAL" />
    <result column="over10_price" property="over10Price" jdbcType="DECIMAL" />
    <result column="over50_price" property="over50Price" jdbcType="DECIMAL" />
    <result column="over100_price" property="over100Price" jdbcType="DECIMAL" />
    <result column="over300_price" property="over300Price" jdbcType="DECIMAL" />
    <result column="require_days" property="requireDays" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, destination, first_heavy_price, continue_heavy_price, over10_price, over50_price, 
    over100_price, over300_price, require_days, gmt_create, gmt_modified, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from default_freight
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from default_freight
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xmu.oomall.dao.DefaultFreightPo" >
    insert into default_freight (id, destination, first_heavy_price, 
      continue_heavy_price, over10_price, over50_price, 
      over100_price, over300_price, require_days, 
      gmt_create, gmt_modified, is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{destination,jdbcType=VARCHAR}, #{firstHeavyPrice,jdbcType=DECIMAL}, 
      #{continueHeavyPrice,jdbcType=DECIMAL}, #{over10Price,jdbcType=DECIMAL}, #{over50Price,jdbcType=DECIMAL}, 
      #{over100Price,jdbcType=DECIMAL}, #{over300Price,jdbcType=DECIMAL}, #{requireDays,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="xmu.oomall.dao.DefaultFreightPo" >
    insert into default_freight
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="firstHeavyPrice != null" >
        first_heavy_price,
      </if>
      <if test="continueHeavyPrice != null" >
        continue_heavy_price,
      </if>
      <if test="over10Price != null" >
        over10_price,
      </if>
      <if test="over50Price != null" >
        over50_price,
      </if>
      <if test="over100Price != null" >
        over100_price,
      </if>
      <if test="over300Price != null" >
        over300_price,
      </if>
      <if test="requireDays != null" >
        require_days,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="firstHeavyPrice != null" >
        #{firstHeavyPrice,jdbcType=DECIMAL},
      </if>
      <if test="continueHeavyPrice != null" >
        #{continueHeavyPrice,jdbcType=DECIMAL},
      </if>
      <if test="over10Price != null" >
        #{over10Price,jdbcType=DECIMAL},
      </if>
      <if test="over50Price != null" >
        #{over50Price,jdbcType=DECIMAL},
      </if>
      <if test="over100Price != null" >
        #{over100Price,jdbcType=DECIMAL},
      </if>
      <if test="over300Price != null" >
        #{over300Price,jdbcType=DECIMAL},
      </if>
      <if test="requireDays != null" >
        #{requireDays,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xmu.oomall.dao.DefaultFreightPo" >
    update default_freight
    <set >
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="firstHeavyPrice != null" >
        first_heavy_price = #{firstHeavyPrice,jdbcType=DECIMAL},
      </if>
      <if test="continueHeavyPrice != null" >
        continue_heavy_price = #{continueHeavyPrice,jdbcType=DECIMAL},
      </if>
      <if test="over10Price != null" >
        over10_price = #{over10Price,jdbcType=DECIMAL},
      </if>
      <if test="over50Price != null" >
        over50_price = #{over50Price,jdbcType=DECIMAL},
      </if>
      <if test="over100Price != null" >
        over100_price = #{over100Price,jdbcType=DECIMAL},
      </if>
      <if test="over300Price != null" >
        over300_price = #{over300Price,jdbcType=DECIMAL},
      </if>
      <if test="requireDays != null" >
        require_days = #{requireDays,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xmu.oomall.dao.DefaultFreightPo" >
    update default_freight
    set destination = #{destination,jdbcType=VARCHAR},
      first_heavy_price = #{firstHeavyPrice,jdbcType=DECIMAL},
      continue_heavy_price = #{continueHeavyPrice,jdbcType=DECIMAL},
      over10_price = #{over10Price,jdbcType=DECIMAL},
      over50_price = #{over50Price,jdbcType=DECIMAL},
      over100_price = #{over100Price,jdbcType=DECIMAL},
      over300_price = #{over300Price,jdbcType=DECIMAL},
      require_days = #{requireDays,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>