<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.FootprintMapper">
  <resultMap id="BaseResultMap" type="xmu.oomall.domain.FootprintItemPo">
    <!--@mbg.generated-->
    <!--@Table footprint_item-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="birth_time" jdbcType="TIMESTAMP" property="birthTime" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, birth_time, user_id, goods_id
  </sql>
    <delete id="deleteByUserId" parameterType="java.lang.Integer">
        delete from oomall_footprint_item
        where id = #{id}
    </delete>
    <select id="selectByCondition" resultType="xmu.oomall.domain.FootprintItemPo">
        select from oomall_footprint_item
        <trim>
            <if test="userId != null || goodsId != null">
                where
            </if>
        </trim>
        <trim suffixOverrides="and">
            <if test="userId != null">
                `user_id` = #{userId} and
            </if>
            <if test="goodsId != null">
                `goods_id` = #{goodsId} and
            </if>
        </trim>
    </select>
</mapper>