<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.OomallDefaultPieceFreightMapper">
  <resultMap id="BaseResultMap" type="xmu.oomall.domain.DefaultPieceFreightPo">
    <!--@mbg.generated-->
    <!--@Table oomall_default_piece_freight-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="unit_rate" jdbcType="DECIMAL" property="unitRate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="TINYINT" property="beDeleted" />
    <result column="require_days" jdbcType="VARCHAR" property="requireDays" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, destination, unit_rate, gmt_create, gmt_modified, is_deleted, require_days
  </sql>
</mapper>