<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.OomallDefaultFreightMapper">
    <resultMap id="BaseResultMap" type="xmu.oomall.domain.DefaultFreightPo">
        <!--@mbg.generated-->
        <!--@Table oomall_default_freight-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="destination" jdbcType="VARCHAR" property="destination"/>
        <result column="first_heavy_price" jdbcType="DECIMAL" property="firstHeavyPrice"/>
        <result column="continue_heavy_price" jdbcType="DECIMAL" property="continueHeavyPrice"/>
        <result column="over10_price" jdbcType="DECIMAL" property="over10Price"/>
        <result column="over50_price" jdbcType="DECIMAL" property="over50Price"/>
        <result column="over100_price" jdbcType="DECIMAL" property="over100Price"/>
        <result column="over300_price" jdbcType="DECIMAL" property="over300Price"/>
        <result column="require_days" jdbcType="VARCHAR" property="requireDays"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="TINYINT" property="beDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, destination, first_heavy_price, continue_heavy_price, over10_price, over50_price,
        over100_price, over300_price, require_days, gmt_create, gmt_modified, is_deleted
    </sql>


    <!--auto generated by MybatisCodeHelper on 2019-12-16-->
    <select id="findAllByBeDeletedLessThan" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_default_freight
        where is_deleted <![CDATA[<]]> #{maxBeDeleted,jdbcType=TINYINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-16-->
    <select id="findAllById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_default_freight
        where id=#{id,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-17-->
    <update id="updateById">
        update oomall_default_freight
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=BIGINT},
            </if>
            <if test="updated.destination != null">
                destination = #{updated.destination,jdbcType=VARCHAR},
            </if>
            <if test="updated.firstHeavyPrice != null">
                first_heavy_price = #{updated.firstHeavyPrice,jdbcType=DECIMAL},
            </if>
            <if test="updated.continueHeavyPrice != null">
                continue_heavy_price = #{updated.continueHeavyPrice,jdbcType=DECIMAL},
            </if>
            <if test="updated.over10Price != null">
                over10_price = #{updated.over10Price,jdbcType=DECIMAL},
            </if>
            <if test="updated.over50Price != null">
                over50_price = #{updated.over50Price,jdbcType=DECIMAL},
            </if>
            <if test="updated.over100Price != null">
                over100_price = #{updated.over100Price,jdbcType=DECIMAL},
            </if>
            <if test="updated.over300Price != null">
                over300_price = #{updated.over300Price,jdbcType=DECIMAL},
            </if>
            <if test="updated.requireDays != null">
                require_days = #{updated.requireDays,jdbcType=VARCHAR},
            </if>
            <if test="updated.gmtCreate != null">
                gmt_create = #{updated.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.gmtModified != null">
                gmt_modified = #{updated.gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.beDeleted != null">
                is_deleted = #{updated.beDeleted,jdbcType=TINYINT},
            </if>
        </set>
        where id=#{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-17-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO oomall_default_freight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="destination!=null">destination,</if>
            <if test="firstHeavyPrice!=null">first_heavy_price,</if>
            <if test="continueHeavyPrice!=null">continue_heavy_price,</if>
            <if test="over10Price!=null">over10_price,</if>
            <if test="over50Price!=null">over50_price,</if>
            <if test="over100Price!=null">over100_price,</if>
            <if test="over300Price!=null">over300_price,</if>
            <if test="requireDays!=null">require_days,</if>
            <if test="gmtCreate!=null">gmt_create,</if>
            <if test="gmtModified!=null">gmt_modified,</if>
            <if test="beDeleted!=null">is_deleted</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="destination!=null">#{destination,jdbcType=VARCHAR},</if>
            <if test="firstHeavyPrice!=null">#{firstHeavyPrice,jdbcType=DECIMAL},</if>
            <if test="continueHeavyPrice!=null">#{continueHeavyPrice,jdbcType=DECIMAL},</if>
            <if test="over10Price!=null">#{over10Price,jdbcType=DECIMAL},</if>
            <if test="over50Price!=null">#{over50Price,jdbcType=DECIMAL},</if>
            <if test="over100Price!=null">#{over100Price,jdbcType=DECIMAL},</if>
            <if test="over300Price!=null">#{over300Price,jdbcType=DECIMAL},</if>
            <if test="requireDays!=null">#{requireDays,jdbcType=VARCHAR},</if>
            <if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="beDeleted!=null">#{beDeleted,jdbcType=TINYINT}</if>
        </trim>
    </insert>


    <!--        update default_freight-->
    <!--        set is_deleted=1-->
    <!--        where id = #{id}-->
    <!--    &amp;lt;/update&amp;gt;-->
</mapper>