<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.OomallAddressMapper">
  <resultMap id="BaseResultMap" type="xmu.oomall.domain.AddressPo">
    <!--@mbg.generated-->
    <!--@Table oomall_address-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="TINYINT" property="beDeleted" />
    <result column="county_id" jdbcType="BIGINT" property="countyId" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="is_default" jdbcType="TINYINT" property="beDefault" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modified, is_deleted, county_id, province_id, city_id, address_detail, 
    postal_code, consignee, mobile, is_default, user_id
  </sql>

<!--auto generated by MybatisCodeHelper on 2019-12-17-->

    <!--auto generated by MybatisCodeHelper on 2019-12-17-->
  <update id="updateById">
    update oomall_address
    <set>
      <if test="updated.id != null">
        id = #{updated.id,jdbcType=BIGINT},
      </if>
      <if test="updated.gmtCreate != null">
        gmt_create = #{updated.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.gmtModified != null">
        gmt_modified = #{updated.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="updated.beDeleted != null">
        is_deleted = #{updated.beDeleted,jdbcType=TINYINT},
      </if>
      <if test="updated.countyId != null">
        county_id = #{updated.countyId,jdbcType=BIGINT},
      </if>
      <if test="updated.provinceId != null">
        province_id = #{updated.provinceId,jdbcType=BIGINT},
      </if>
      <if test="updated.cityId != null">
        city_id = #{updated.cityId,jdbcType=BIGINT},
      </if>
      <if test="updated.addressDetail != null">
        address_detail = #{updated.addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="updated.postalCode != null">
        postal_code = #{updated.postalCode,jdbcType=VARCHAR},
      </if>
      <if test="updated.consignee != null">
        consignee = #{updated.consignee,jdbcType=VARCHAR},
      </if>
      <if test="updated.mobile != null">
        mobile = #{updated.mobile,jdbcType=VARCHAR},
      </if>
      <if test="updated.beDefault != null">
        is_default = #{updated.beDefault,jdbcType=TINYINT},
      </if>
      <if test="updated.userId != null">
        user_id = #{updated.userId,jdbcType=BIGINT},
      </if>
    </set>
    where id=#{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-12-17-->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO oomall_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId!=null">user_id,</if>
      <if test="cityId!=null">city_id,</if>
      <if test="provinceId!=null">province_id,</if>
      <if test="countyId!=null">county_id,</if>
      <if test="addressDetail!=null">address_detail,</if>
      <if test="mobile!=null">mobile,</if>
      <if test="postalCode!=null">postal_code,</if>
      <if test="consignee!=null">consignee,</if>
      <if test="beDefault!=null">is_default,</if>
      <if test="gmtCreate!=null">gmt_create,</if>
      <if test="gmtModified!=null">gmt_modified,</if>
      <if test="beDeleted!=null">is_deleted</if>
    </trim>
    VALUES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId!=null">#{userId,jdbcType=BIGINT},</if>
      <if test="cityId!=null">#{cityId,jdbcType=BIGINT},</if>
      <if test="provinceId!=null">#{provinceId,jdbcType=BIGINT},</if>
      <if test="countyId!=null">#{countyId,jdbcType=BIGINT},</if>
      <if test="addressDetail!=null">#{addressDetail,jdbcType=VARCHAR},</if>
      <if test="mobile!=null">#{mobile,jdbcType=VARCHAR},</if>
      <if test="postalCode!=null">#{postalCode,jdbcType=VARCHAR},</if>
      <if test="consignee!=null">#{consignee,jdbcType=VARCHAR},</if>
      <if test="beDefault!=null">#{beDefault,jdbcType=TINYINT},</if>
      <if test="gmtCreate!=null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
      <if test="gmtModified!=null">#{gmtModified,jdbcType=TIMESTAMP},</if>
      <if test="beDeleted!=null">#{beDeleted,jdbcType=TINYINT}</if>
    </trim>
  </insert>


<!--auto generated by MybatisCodeHelper on 2019-12-18-->
  <select id="findAllById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_address
        where id=#{id,jdbcType=BIGINT}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-12-21-->
  <select id="findAllByUserIdAndBeDeletedLessThan" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_address
        where user_id=#{userId,jdbcType=BIGINT} and is_deleted <![CDATA[<]]> #{maxBeDeleted,jdbcType=TINYINT}
    </select>
</mapper>