<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.OomallCommentMapper">
    <resultMap id="BaseResultMap" type="xmu.oomall.domain.CommentPo">
        <!--@mbg.generated-->
        <!--@Table oomall_comment-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="status" jdbcType="TINYINT" property="statusCode"/>
        <result column="star" jdbcType="TINYINT" property="star"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="is_deleted" jdbcType="TINYINT" property="beDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, content, `status`, star, product_id, gmt_create, gmt_modified, is_deleted
    </sql>
    <resultMap id="BaseResultMaps" type="xmu.oomall.domain.CommentPo">


        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="BIGINT"/>
            <idArg column="user_id" javaType="java.lang.Integer" jdbcType="BIGINT"/>
            <idArg column="product_id" javaType="java.lang.Integer" jdbcType="BIGINT"/>
            <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Integer" jdbcType="TINYINT"/>
            <arg column="star" javaType="java.lang.Integer" jdbcType="TINYINT"/>
            <arg column="gmt_creat" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
            <arg column="gmt_modified" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
            <arg column="is_deleted" javaType="java.lang.Boolean" jdbcType="BIT"/>
        </constructor>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2019-12-15-->
    <select id="findAllByProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_comment
        where product_id=#{productId} and is_deleted=0 and status=1
    </select>


    <!--auto generated by MybatisCodeHelper on 2019-12-15-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO oomall_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">user_id,</if>
            <if test="content!=null">content,</if>
            <if test="statusCode!=null">status,</if>
            <if test="star!=null">star,</if>
            <if test="productId!=null">product_id,</if>
            <if test="gmtCreate!=null">gmt_create,</if>
            <if test="gmtModified!=null">gmt_modified,</if>
            <if test="beDeleted!=null">is_deleted</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">#{userId},</if>
            <if test="content!=null">#{content},</if>
            <if test="statusCode!=null">#{statusCode},</if>
            <if test="star!=null">#{star},</if>
            <if test="productId!=null">#{productId},</if>
            <if test="gmtCreate!=null">#{gmtCreate},</if>
            <if test="gmtModified!=null">#{gmtModified},</if>
            <if test="beDeleted!=null">#{beDeleted}</if>
        </trim>
    </insert>

    <!--逻辑删除-->
    <update id="deleteById">
        update oomall_comment
            <set>
                is_deleted=1,
                gmt_modified=#{updatedGmtModified,jdbcType=TIMESTAMP}
            </set>
        where id=#{id} and is_deleted=0
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-15-->
    <update id="updateById">
        update oomall_comment
        <set>
            <if test="updated.statusCode != null">
                status = #{updated.statusCode},
            </if>
            <if test="updated.gmtModified != null">
                gmt_modified = #{updated.gmtModified},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2019-12-16-->
    <select id="selectAllById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_comment
        where id=#{id,jdbcType=BIGINT}
    </select>


    <!--auto generated by MybatisCodeHelper on 2019-12-17-->
    <select id="selectAllByUserIdOrProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_comment
        where
        <trim>
            <if test="userId != null">
                `user_id`=#{userId} and
            </if>
            <if test="productId != null">
                `product_id`=#{productId} and
            </if>
        </trim>
        is_deleted =0
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-12-17-->
    <select id="selectALL" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from oomall_comment
        where is_deleted=0
    </select>



</mapper>